.menuHeaderIcon {
    background: url( /statics/images/find.png ) 0 -1px no-repeat !important;
}

.listHeaderIcon {
    background: url( /statics/images/bullets.png ) 0 -1px no-repeat !important;
}

.comment-item {
    font: normal 12px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #eeeeee;
    white-space: normal;
    color: #555;
}

.comment-item h3 {
    display: block;
    font: inherit;
    font-weight: bold;
    color: #222;
}

.comment-item h3 span {
    float: right;
    font-weight: normal;
    margin: 0 0 5px 5px;
    width: 100px;
    display: block;
    clear: none;
}

.tag {
    font-family: Arial, 'Luxi Sans', Helvetica, Impact;
}

.tag a:link {
    background-color: #000;
    color: #fff;
    text-decoration: none
}

.tag a:visited {
    background-color: #4ee;
}

.tag a:hover {
    background-color: #000;
    text-decoration: none;
    color: #ccc
}

.tag a:active {
    background-color: #456;
}

.tag a:focus {
    background-color: #456;
}

.s1 {
    background-color: transparent;
    color: #123;
    font-size: 1.13em
}

.s2 {
    background-color: transparent;
    color: #123;
    font-size: 1.36em
}

.s3 {
    background-color: transparent;
    color: #123;
    font-size: 1.59em
}

.s4 {
    background-color: transparent;
    color: #123;
    font-size: 1.82em;
    font-weight: 300
}

.s5 {
    background-color: transparent;
    color: #123;
    font-size: 2.05em;
    font-weight: 400
}

.s6 {
    background-color: transparent;
    color: #123;
    font-size: 2.28em;
    font-weight: 500
}

.s7 {
    background-color: transparent;
    color: #123;
    font-size: 2.51em;
    font-weight: 600
}

.s8 {
    background-color: transparent;
    color: #123;
    font-size: 2.74em;
    font-weight: 700
}

.s9 {
    background-color: transparent;
    color: #123;
    font-size: 2.9em;
    font-weight: 800
}

.s10 {
    background-color: transparent;
    color: #123;
    font-size: 3.2em;
    font-weight: 900
}