<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory name="default">

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!--mapping resource-->
        <mapping class="org.mvnsearch.snippet.domain.Snippet"/>
        <mapping class="org.mvnsearch.snippet.domain.Category"/>
        <mapping class="org.mvnsearch.snippet.domain.extra.Comment"/>
    </session-factory>
</hibernate-configuration>